/******************************
************Globals************
******************************/

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

/* Inherting border-box from html */
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
  overflow-x: hidden;
  height: 100%;
  display: flex;
}

img {
	max-width: 100%;
}

p {
	line-height: 1.4em;
}

h2{
	margin-bottom: .5em;
}

h3 {
	margin-top: .5em;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

nav,
header,
main,
footer,
ul {
	width: 100%;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}



/******************************
************Skeleton***********
******************************/

.side-menu {
  max-width: 250px;
  width: 20%;
  background-color: blue;
}

.side-menu,
.page-wrapper {
  height: 100vh;
}

.page-wrapper {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: aqua;
  height: 60px;
}

.main {
  flex-grow: 1;
  height: 100%;
}